<div class="item active">
  <a class="active title">
    <i class="dropdown icon"></i>
    <%= t('.posts.title') %>
  </a>

  <div class="active content">
    <div class="menu sub-actions">
      <%#= link_to t('.posts.title'), '#', :class => 'page_copy_icon' %>
      <%= link_to t('.posts.manage'), refinery.blog_admin_posts_path, class: 'item' %>
      <%= link_to t('.posts.uncategorized'), refinery.uncategorized_blog_admin_posts_path, class: 'item' %>
      <%= link_to semantic_icon('write', text: t('.posts.new')), refinery.new_blog_admin_post_path, class: 'item' %>
    </div>
  </div>
</div>

<% if Refinery::Blog::Post.comments_allowed? %>
  <div class="item active">
    <a class="title">
      <i class="dropdown icon"></i>
      <% if Refinery::Blog::Comment.unmoderated.any? %>
        <%= t('.comments.title_with_count', :new_count => Refinery::Blog::Comment.unmoderated.size) %>
      <% else %>
        <%= t('.comments.title') %>
      <% end %>
    </a>

    <div class="content">
      <div class="menu sub-actions">
        <%= link_to t('.comments.new'), refinery.blog_admin_comments_path, :class => 'item' %>
        <%= link_to t('.comments.approved'), refinery.approved_blog_admin_comments_path, :class => 'item' %>
        <%= link_to t('.comments.rejected'), refinery.rejected_blog_admin_comments_path, :class => 'item' %>
      </div>
    </div>
  </div>
<% end %>

<div class="item active">
  <a class="title">
    <i class="dropdown icon"></i>
    <%= t('.categories.title') %>
  </a>

  <div class="content">
    <div class="menu sub-actions">
      <%= link_to t('.categories.manage'), refinery.blog_admin_categories_path, :class => 'item' %>
      <%= link_to t('.categories.new'), refinery.new_blog_admin_category_path, :class => 'item' %>
    </div>
  </div>
</div>

<div class="item active">
  <a class="title">
    <i class="dropdown icon"></i>
    <%= t('.settings.title') %>
  </a>

  <div class="content">
    <div class="menu sub-actions">
      <%= link_to semantic_icon(Refinery::Blog::Post.comments_allowed? ? 'checkmark' : 'remove', text: t('.settings.comments')),
                  refinery.comments_blog_admin_settings_path,
                  :class => "item" %>
      <%= link_to semantic_icon(Refinery::Blog::Comment::Moderation.enabled? ? 'checkmark' : 'remove', text: t('.settings.moderation')),
                  refinery.moderation_blog_admin_settings_path,
                  :class => "item" %>
      <%= link_to semantic_icon('announcement', text: t('.settings.update_notified')),
                  refinery.notification_recipients_blog_admin_settings_path(:dialog => true, :height => 400),
                  :class => 'item' %>
      <%= link_to semantic_icon(Refinery::Blog::Post.teasers_enabled? ? 'checkmark' : 'remove', text: t('.settings.teasers')),
                  refinery.teasers_blog_admin_settings_path, :class => "item" %>
    </div>
  </div>
</div>

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/backend') %>
